.page {
    width: 100%;
    height: 100%;
}

.ui.basic.black.button.inverted-hover:hover {
    background-color: #1b1c1d!important;
    color: white !important;
}

.ui.basic.primary.button.inverted-hover:hover {
    background-color: #2185d0!important;
    color: white !important;
}

/* Fix the modal centering */
.page.transition.ui.dimmer > div  {
    height: 100%;
    width: 100%
}

.page.transition.ui.dimmer > div > div {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}