<div class="login page" fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center" style="transform: translateX(-25px)">
        <img src="../assets/images/log2.svg" alt="Log Logo" style="width: 100px; height: auto; transform: rotate(45deg)" />
        <h1 class="ui huge header" style="font-size: 3.5rem; height: min-content; transform: translateY(-10px)">
            Salesforce Log Analyzer
        </h1>
    </div>

    <div>
        <div class="ui raised card" style="width: unset">
            <div class="content">
                <div class="header">
                    Log In
                </div>
            </div>
            <div class="content">
                <div fxLayout="column">
                    <div class="ui primary basic button salesforce-wrapper">
                        <img src="../assets/images/salesforce.svg" alt="Salesforce Logo" class="salesforce-logo" /> Salesforce (Production, Developer)
                    </div>
                    <div class="ui primary basic button salesforce-wrapper">
                        <img src="../assets/images/salesforce.svg" alt="Salesforce Logo" class="salesforce-logo" /> Salesforce (Sandbox)
                    </div>
                </div>
                <div class="ui horizontal divider">Or</div>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <div class="ui primary button">
                        Try a Demo
                    </div>
                </div>
            </div>
        </div>

        <div class="ui raised card" style="width: 100%">
            <div class="content">
                <a class="ui black basic button" style="width: 100%" href="https://github.com/benvogler/sf-log-analyzer">
                    <i class="github icon"></i>
                    View Project on GitHub
                </a>
            </div>
        </div>
    </div>
</div>