.toast {
    position: fixed;
    top: 10px;
    z-index: 999;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: fit-content;
    max-width: 400px;
    background-color: white;
    transition: opacity 1s ease;
}

.toast.no-animate {
    transition: none !important;
    display: none;
}

.hide {
    opacity: 0;
}

.visible {
    opacity: 1;
}